@font-face {
    font-family: 'Pumpkin';
    src: url(./fonts/Baby\ Pumpkin.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(./fonts/Quicksand.ttf);
}

body {
    font-family: 'Quicksand';
    background-color: #539BDF;
}